body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#task-form {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#task-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

#add-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
}

.task-item {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.complete {
    text-decoration: line-through;
    color: gray;
}

@media (max-width: 600px) {
    #task-form{
        flex-direction: column;
    }

    #add-btn {
        width: 100%;
    }
}